.conteiner_img{
    width: 300px;
}

.menu_list{
    list-style: none;
}

.menu_limk{
    text-decoration:none;
    color: cornflowerblue;
	font-size: 16px;
	line-height: 20px;

}

.conteiner_title{
    
	color: #222222;
	font-size: 28px;
	line-height: 36px;
	font-weight: bold
} 

.text{
    
    font-style: normal;
    font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	color: #7D7987
}

.article_title{
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
	line-height: 80px;

}
.contacts_list{
    list-style: none;
    
}

.contacts_item{
    text-decoration:none;
}